{% extends "base.html" %}

{% block title %}
    <title>Update User</title>
{% endblock %}


{% block content %}

    <h2>Update User</h2>
    {% if err %}
    {{err}} 
    {% else %} 
    <form method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ user.username }}" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ user.email }}" required><br><br>

        <input type="submit" value="Update">
    </form>
    {% endif %}
{% endblock %}