{% extends "base.html" %}

{% block title %}
    <title>Create User</title>
{% endblock %}

{% block content %}
<h2>Create New User</h2>
<form action="/users" method="post">

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <input type="submit" value="Submit">
</form>
<table border="1">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in my_data %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td><a href="/users/{{user.id}}">update</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}